{% include 'header.html' %}

{% block content %}

<nav style="top: 100px;">
    <a href="{% url 'accounting:home' %}" >지출통계</a>
    <a href="{% url 'accounting:field' %}">가계부 입력</a>
    <a href="{% url 'community:community' %}">커뮤니티</a>
    <a href="{% url 'account:edit' %}" class="is-current">정보 수정</a>
    <div class="nav-underline"></div>
</nav>


<div id="login">
    <div class="container">
        <div id="login-row">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="{% url 'account:edit_bank' %}" method="POST">
                        <h3 class="text-center text-info">계좌 추가하기</h3>
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">계좌주</label>
                            <input type="text" name="name" id="input1" class="form-control" value="{{ user.nickname }}">
                        </div>
                        <div class="form-group">
                            <label for="bank">은행사</label>
                            <select name="bank" class="select-arrow-image">
                                <option value="현금">현금</option>
                                <option value="농협은행">농협은행</option>
                                <option value="신한은행">신한은행</option>
                                <option value="국민은행">국민은행</option>
                                <option value="하나은행">하나은행</option>
                                <option value="대구은행">대구은행</option>
                                <option value="부산은행">부산은행</option>
                                <option value="카카오뱅크">카카오뱅크</option>
                                <option value="기업은행">기업은행</option>
                                <option value="우리은행">우리은행</option>
                                <option value="케이뱅크">케이뱅크</option>
                                <option value="기타">기타</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="account_num">계좌번호</label>
                            <input type="text" name="account_num" id="input6" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="balance">잔액</label>
                            <input type="text" name="balance" id="input7" class="form-control">
                        </div>

                        <br><button type="submit">계좌추가</button><br>
                        <br><a href="{% url 'account:detail' %}">보유계좌</a>
                        
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<p>{{error_msg}}</p>


{% include 'footer.html' %}
{% endblock %}