{% load static %}

{% include 'header.html' %}

{% block content %}
<nav style="top: 100px;">
    <a href="{% url 'accounting:home' %}">지출통계</a>
    <a href="{% url 'accounting:field' %}">가계부 입력</a>
    <a href="{% url 'community:community' %}" class="is-current">커뮤니티</a>
    <a href="{% url 'account:edit' %}" >정보 수정</a>
    <div class="nav-underline"></div>
</nav>
<br><br>
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'community/css/table.css' %}"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[짠돌이] 커뮤니티</title>
</head>
<body>
    <div class="main_content">
        <div id="big_box">
            <div id="side_left"><br>
                <div id="side_content">
                <button id="make_content" type="button" onclick="location.href='{% url "community:write" %}'">글 작성하기</button>
                </div>
                <br><br> <br><a href="/community/">커뮤니티</a><br><br>
                <div id="side_content">· <a href="{% url 'community:inform' %}">정보게시판</a><br></div><br>
                <div id="side_content">· <a href="{% url 'community:question' %}">질문게시판</a><br></div><br>
                <hr><br>
                <div id="side_content"> <a href="{% url 'community:my_content' %}">내가 작성한 글</a><br></div><br>
            </div>
            <div id="comm_main">
                <br>커뮤니티<br><br>
                <select>
                    <option value="content">정보 게시판</option>
                    <option value="content">질문 게시판</option>
                </select>
            <input type="text">        
            <button>검색</button><br><br>
                <div id="inform_prev" style="width: 350px; font-size: 0.9em; font-weight: border;">정보 게시판<br>
                <div style="font-size: 0.85em; font-weight: lighter; width: 320px;">인기 정보<hr><br>
                    <br>
                    {% for blog in blogs %}
                        <a href="{% url 'detail' blog.id %}">{{blog.title}} {{blog.writer}}<br>{{blog.summary}}</a><br>
                    {% endfor %}
                    최신 정보<hr></div></div>
                <div id="vertical_line"></div>
                <div id="question_prev" style="font-size: 0.9em; font-weight: border;">질문 게시판</div>
            </div>
        </div>
    </div>
    </body>
</body>
</html>

{% include 'footer.html' %}
{% endblock %}