<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'community/css/table.css' %}"/>
    <title>Document</title>
</head>
<body>
    <div id="big_box">
        <div id="side_left"><br>
            <div id="side_content">
            <button id="make_content" type="button" onclick="location.href='/write/'">글 작성하기</button>
            </div>
            <br><br> <br>커뮤니티<br><br>
            <div id="side_content">· <a href="/inform">정보게시판</a><br></div><br>
            <div id="side_content">· <a href="/question">질문게시판</a><br></div><br>
            <hr><br>
            <div id="side_content"> <a href>내가 작성한 글</a><br></div><br>
        </div>
        <div id="comm_main">
        <div id="content_detail"><br>
            제목</p>
                <p style="font-size: 0.6em;">사용자 이름<br>날짜</p>
                <p style="font-size: 0.6em; text-align: right;">수정  삭제</p>
                <hr>
                <br>
                content<br><br><br><br><br><hr>
                <p style="text-align: center; font-size: 0.6em;"><button>추천</button>    <button>비추천</button></p>
        </div></div>
        <div id="comm_main">
            <div id="content_detail">
                <p style="font-size: 0.7em;">댓글</p> <textarea name="comment" id="" cols="30" rows="10"></textarea>
                <button>작성</button>
            </div>
        </div>
</body>
</html>