{% load static %}
{% include 'header.html' %}

{% block content %}
<nav style="top: 100px;">
    <a href="{% url 'accounting:home' %}">지출통계</a>
    <a href="{% url 'accounting:field' %}">가계부 입력</a>
    <a href="{% url 'community:community' %}" class="is-current">커뮤니티</a>
    <a href="{% url 'account:edit' %}" >정보 수정</a>
    <div class="nav-underline"></div>
</nav>
<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'community/css/table.css' %}"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[짠돌이] 내가 작성한 글</title>
</head>
<body>
    <div class="main_content">
        <div id="big_box">
            <div id="side_left"><br>
                <div class="side_content">
                <button id="make_content" type="button" onclick="location.href='{% url "community:write" %}'">글 작성하기</button>
                </div>
                <br><br> <br><a href="/community/">커뮤니티</a><br><br>
                <div class="side_content">· <a href="{% url 'community:inform' %}">정보게시판</a><br></div><br>
                <div class="side_content">· <a href="{% url 'community:question' %}">질문게시판</a><br></div><br>
                <hr><br>
                <div class="side_content"> <a href="{% url 'community:my_content' %}">내가 작성한 글</a><br></div><br>
            </div>
            <div id="comm_main">
                <br>내가 작성한 글<br><br>
                {% for blog in blogs %}

                {% if blog.category == '정보 게시판' %}
                <p style="color: black;"><a href="{% url 'community:detail' blog.id %}">{{blog.title}} </a>{{blog.category}} {{blog.created_date}}</p>
                {% else %}
                <p style="color: black;"><a href="{% url 'community:detail_ques' blog.id %}">{{blog.title}} </a>{{blog.category}} {{blog.created_date}}</p>
                {% endif %}  
    
                {% endfor %}
            </div>
    </div>
    </div>>
</body>
</html>

{% include 'footer.html' %}
{% endblock %}