{% include 'header.html' %}

{% block content %}
<nav style="top: 100px;">
    <a href="{% url 'accounting:home' %}">지출통계</a>
    <a href="{% url 'accounting:field' %}">가계부 입력</a>
    <a href="{% url 'community:community' %}">커뮤니티</a>
    <a href="{% url 'account:edit' %}" class="is-current">정보 수정</a>
    <div class="nav-underline"></div>
</nav>
<br><br>

{% csrf_token %}
<div class="logoAccount">{{user.nickname}}님의 등록된 계좌</div>
{% for bankform in detail %}

<h3 style="text-align: center;"><br>{{bankform.bank}} {{bankform.account_num}} <a href="{% url 'account:delete' bankform.id %}">삭제하기</a> 
    <br> 보유액:{{bankform.balance}}
</h3> 
{% endfor %}
<br><br>
<div id="back">
    <a href="{% url 'account:edit_bank'%}">돌아가기</a>
</div>

{% include 'footer.html' %}
{% endblock %}