<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="bottom_edit">
        <img src="{% static 'chandori//img/bot_fin.png' %}" alt="" width="100%" >
        <div>
            <div class="bottom-left">
                <br>
                &nbsp
                <div class="footer-icon">
                    <img src="{% static 'chandori//img/ledger.png' %}" alt="" width="130px">
                </div>
                
                <div class="footer-title">
                    <span>짠돌이 <br> </span>
                    <span style="font-size: 20px;">-절약 가계부 서비스-</span>
                </div>
    
                <div class="footers">
                    <span onclick="location.href='#'">&nbsp 회사소개</span> |
                    <span onclick="location.href='#'">인사채용</span> |
                    <span onclick="location.href='#'">제휴제안</span> |
                    <span onclick="location.href='#'">이용약관</span> |
                    <span onclick="location.href='#'">개인정보처리방침</span> |
                    <span onclick="location.href='#'">청소년보호정책</span> |
                    <span onclick="location.href='#'">고객센터</span>
                </div>
                <div class="bottom-right">
                    Copyright ⓒ LLkmu Corp. All Rights Reserved. &nbsp
                </div>
            </div>
        </div>
    </div>
</body>
</html>
