body {
    margin: 0;
    padding: 0;
  }
 
  #login .container #login-row #login-column #login-box {
    margin-top: 200px;
    max-width: 50%;
    height: 25rem;
    border-radius: 10px;
    background-color: #EAEAEA;
    left: 23.5%;
    position: relative;
    text-align: center;
    box-shadow: 5px 5px 5px gray;
    font-family: DO;
    font-size: 24px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form{
      width: 300px;
  }
  .form > div{
      display: flex;
      justify-content: center;
      padding-bottom: 7px;
      align-items: center;
  }
  label{
      flex: 1;
      text-align: left;
      
  }
  input{
      padding: 5px;
  }
  button{
      width: 85px;
      float: right;
      padding: 3px;
  }

  .form-group{
      padding-top: 20px;
      text-align: center;
      font-size: 18px;
      justify-content: left;
  }
  .form-group2{
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
    justify-content: right;
    width: 423px;
}
  #input1{
    border-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid;
    outline: none;
    width: 8rem;
  }
  #input2{
    border-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid;
    outline: none;
    width: 10rem;
  }
  #input3{
    border-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid;
    outline: none;
    width: 12rem;
  }

  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }

  .select-arrow-image {
    width: 7rem;
    height: 30px;
    outline: none;
    border: white 5px solid;
    box-shadow: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 1rem;
    background-color: white;
    border-radius: 10px;
    font-family: air;
    font-weight: 800;
    background-image: url("./img/down-arrow.png");
    background-position: center right; right: 100%;
    background-repeat: no-repeat;
    background-size: 15px 10px;
  }
  
  /* @media (max-width: 1000px){
    .select-arrow-image{

    }
  } */

  button{
    width:120px;
    height: 40px;
    color:#fff;
    background: #004fff;
    font-size: 20px;
    border:none;
    border-radius: 20px;
    box-shadow: 0 4px 16px rgba(0,79,255,0.3);
    /* transition:0.3s;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%); */
    font-family: hanna;
  }
  button:focus {
    outline:0;
  }
  button:hover{
    background: rgba(0,79,255,0.9);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,79,255,0.6);
  }

